# Import taxonomy dataset into Neo4j

In [27]:
import pandas as pd
from graphdatascience import GraphDataScience

host = "neo4j://localhost:7687"
user = "neo4j"
password = "letmein"
gds = GraphDataScience(host, auth=(user, password))

def batch_import(query, params_df, batch_size=25_000):
    params = params_df.to_dict('records')
    for i in range(0, len(params), batch_size):
        batch_data = params[i:i+batch_size]
        gds.run_cypher(query, {'data': batch_data})

Download the [new taxonomy dump files](https://ncbiinsights.ncbi.nlm.nih.gov/2018/02/22/new-taxonomy-files-available-with-lineage-type-and-host-information/) and move them in the same folder where this Jupyter notebook is located 

*Make sure to install the APOC plugin in Neo4j*

# Import nodes

	tax_id					          -- node id in GenBank taxonomy database
 	parent tax_id				      -- parent node id in GenBank taxonomy database
 	rank					          -- rank of this node (superkingdom, kingdom, ...) 
 	embl code				          -- locus-name prefix; not unique
 	division id				          -- see division.dmp file
 	inherited div flag  (1 or 0)      -- 1 if node inherits division from parent
 	genetic code id				      -- see gencode.dmp file
 	inherited GC  flag  (1 or 0)      -- 1 if node inherits genetic code from parent
 	mitochondrial genetic code id     -- see gencode.dmp file
 	inherited MGC flag  (1 or 0)      -- 1 if node inherits mitochondrial gencode from parent
 	GenBank hidden flag (1 or 0)      -- 1 if name is suppressed in GenBank entry lineage
 	hidden subtree root flag (1 or 0) -- 1 if this subtree has no sequence data yet
 	comments				          -- free-text comments and citations
    plastid genetic code id           -- see gencode.dmp file
    inherited PGC flag  (1 or 0)      -- 1 if node inherits plastid gencode from parent
	specified_species			      -- 1 if species in the node's lineage has formal name
    hydrogenosome genetic code id     -- see gencode.dmp file
    inherited HGC flag  (1 or 0)      -- 1 if node inherits hydrogenosome gencode from parent

In [28]:
nodes = pd.read_csv('nodes.dmp', delimiter="|", header=None, quotechar='\t')

/home/tomaz/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3437: DtypeWarning: Columns (12) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [29]:
node_columns = ["tax_id", "parent tax_id", "rank", "embl code", "division id", "inherited div flag",
                "genetic code id", "inherited GC flag", "mitochondrial genetic code id", "inherited MGC flag",
                "GenBank hidden flag", "hidden subtree root flag", "comments", "plastid genetic code id",
                "inherited PGC flag", "specified_species", "hydrogenosome genetic code id", "inherited HGC flag", 
                "None"]
nodes.columns = node_columns

In [30]:
nodes.head()

,tax_id,parent tax_id,rank,embl code,division id,inherited div flag,genetic code id,inherited GC flag,mitochondrial genetic code id,inherited MGC flag,GenBank hidden flag,hidden subtree root flag,comments,plastid genetic code id,inherited PGC flag,specified_species,hydrogenosome genetic code id,inherited HGC flag,None
0,1,1,no rank,NaN,8,0,1,0,0,0,0,0,NaN,NaN,NaN,0,0.0,0,NaN
1,2,131567,superkingdom,NaN,0,0,11,0,0,0,0,0,NaN,NaN,NaN,0,0.0,1,NaN
2,6,335928,genus,NaN,0,1,11,1,0,1,0,0,NaN,NaN,NaN,0,0.0,1,NaN
3,7,6,species,AC,0,1,11,1,0,1,1,0,NaN,NaN,NaN,1,0.0,1,NaN
4,9,32199,species,BA,0,1,11,1,0,1,1,0,NaN,NaN,NaN,1,0.0,1,NaN

In [31]:
len(nodes)

2425415

In [32]:
gds.run_cypher("""
CREATE CONSTRAINT IF NOT EXISTS ON (n:Node) ASSERT n.id IS UNIQUE;
""")

Empty DataFrame
Columns: []
Index: []

In [34]:
create_nodes_query = """
UNWIND $data AS row
CREATE (n:Node {id: row.tax_id})
SET n += apoc.map.clean(row, ['tax_id', 'parent tax_id', 'rank'], ["", gds.util.NaN()])
WITH n, row.rank AS rank
CALL apoc.create.addLabels(n, [apoc.text.capitalize(rank)]) YIELD node
RETURN distinct 'done'
"""

batch_import(create_nodes_query, nodes)

In [35]:
parent_relation_import_query ="""
UNWIND $data AS row
MATCH (child:Node {id:row.tax_id})
MATCH (parent:Node {id:row.`parent tax_id`})
MERGE (child)-[:PARENT]->(parent)
"""

batch_import(parent_relation_import_query, nodes[['tax_id', 'parent tax_id']])

# Import names

names.dmp
---------
Taxonomy names file has these fields:

	tax_id					-- the id of node associated with this name
	name_txt				-- name itself
	unique name				-- the unique variant of this name if name not unique
	name class				-- (synonym, common name, ...)

In [36]:
names = pd.read_csv('names.dmp', delimiter="|", header=None, quotechar='\t')

In [37]:
name_columns = ['tax_id', 'name_txt', 'unique_name', 'name_class', 'none']
names.columns = name_columns
names.head()

   tax_id    name_txt          unique_name           name_class  none
0       1         all                  NaN              synonym   NaN
1       1        root                  NaN      scientific name   NaN
2       2    Bacteria  Bacteria <bacteria>      scientific name   NaN
3       2    bacteria                  NaN           blast name   NaN
4       2  eubacteria                  NaN  genbank common name   NaN

In [38]:
import_names_query = """
UNWIND $data AS row
MATCH (n:Node {id: row.tax_id})
SET n.name = row.name_txt
"""

batch_import(import_names_query, names[['tax_id', 'name_txt']])

# Import hosts 

host.dmp
--------
Theoretical host for organism file fields:

	tax_id					-- node id
	potential_hosts				-- theoretical host list separated by comma ','

In [39]:
hosts = pd.read_csv('host.dmp', delimiter="|", header=None, quotechar='\t')

In [40]:
hosts.columns = ['tax_id', 'potential_hosts', 'none']
hosts.head()

   tax_id       potential_hosts  none
0     562  bacteria,vertebrates   NaN
1     666              bacteria   NaN
2     686              bacteria   NaN
3    1280                 human   NaN
4    1307              bacteria   NaN

In [41]:
gds.run_cypher("""
CREATE INDEX IF NOT EXISTS FOR (n:Node) ON (n.name)
""")

Empty DataFrame
Columns: []
Index: []

In [42]:
import_hosts_query = """
UNWIND $data AS row
MATCH (n:Node {id: row.tax_id})
UNWIND split(row.potential_hosts, ',') AS host
MATCH (h:Node {name: host})
MERGE (n)-[:POTENTIAL_HOST]->(h)
"""
batch_import(import_hosts_query, hosts)

# import citations

citations.dmp
-------------
Citations file fields:

	cit_id				-- the unique id of citation
	cit_key				-- citation key
    medline_id          -- unique id in MedLine database (0 if not in MedLine)
	pubmed_id		    -- unique id in PubMed database (0 if not in PubMed)
	url					-- URL associated with citation
	text				-- any text (usually article name and authors)
						-- The following characters are escaped in this text by a backslash:
						-- newline (appear as "\n"),
						-- tab character ("\t"),
						-- double quotes ('\"'),
						-- backslash character ("\\").
	taxid_list			-- list of node ids separated by a single space

In [43]:
citations = pd.read_csv('citations.dmp', delimiter="|", header=None, quotechar='\t')

In [44]:
citations.columns = ['cit_id', 'cit_key', 'medline_id', 'pubmed_id', 'url', 'text', 'taxid_list', 'none']

In [45]:
citations

,cit_id,cit_key,medline_id,pubmed_id,url,text,taxid_list,none
0,5,The domestic cat: perspective on the nature an...,0,8603894,,NaN,9685,NaN
1,7,Equine herpesvirus,0,819656,,NaN,NaN,NaN
2,8,Yabuuchi E et al. (1990),0,2111872,NaN,"Yabuuchi, E., Yano, I., Oyaizu, H., Hashimoto,...",13687 13688 13689 13690 28212 28213,NaN
3,9,Dennis PJ et al. (1993),0,8494743,NaN,"Dennis, P.J., Brenner, D.J., Thacker, W.L., Wa...",45065 45068 45070 45072 45076,NaN
4,53,ATCC 39723,0,0,http://www.atcc.org/cgi-bin/SFgate?language=en...,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
56474,63166,"IPNI (Jun 08, 2022)",0,0,http://www.ipni.org,IPNI (2022). International Plant Names Index. ...,NaN,NaN
56475,63167,"Tropicos (Jun 09, 2022)",0,0,http://www.tropicos.org,Name accessed in Tropicos.org. Missouri Botani...,529591,NaN
56476,63168,Brown NA (1918),0,0,https://naldc.nal.usda.gov/download/IND4396607...,"Brown, N.A. \""Some bacterial diseases of lettu...",NaN,NaN
56477,63169,Brown NA (1923),0,0,https://naldc.nal.usda.gov/download/IND4396654...,"Brown N.A. \""Bacterial leafspot of geranium in...",453602,NaN
56478,63170,Silva CSP et al. (2014),0,24461713,https://doi.org/10.1016/j.syapm.2013.12.003,"Silva, C.S.P., Genuario, D.B., Vaz, M.G.M.V, a...",984205 984206 984834 1355809 1355810 1355811 1...,NaN

In [46]:
gds.run_cypher('CREATE CONSTRAINT ON (c:Citation) ASSERT c.id IS UNIQUE;')

Empty DataFrame
Columns: []
Index: []

In [47]:
import_citations_query = """
UNWIND $data AS row
MERGE (c:Citation {id: row.cit_id})
SET c += apoc.map.clean(row, ['cit_id', 'none', 'taxid_list'], ['0', gds.util.NaN()])
WITH c, row.taxid_list AS taxid_list
WHERE toString(taxid_list) <> "NaN"
UNWIND split(toString(taxid_list), ' ') AS tax_id
WITH c, tax_id
MATCH (n:Node {id: toInteger(tax_id)})
MERGE (c)-[:MENTIONS]->(n);
"""

batch_import(import_citations_query, citations, 5000)